<div class="flex items-center flex-row w-full bg-gradient-to-r dark:from-cyan-500 dark:to-blue-500 from-indigo-500 via-purple-500 to-pink-500 rounded-md p-3">
    <div class="flex text-indigo-500 dark:text-white items-center bg-white dark:bg-[#0F172A] p-2 rounded-md flex-none w-8 h-8 md:w-12 md:h-12 object-scale-down transition duration-500">
        <span class="mat-icon text-4xl">{{iconName()}}</span>
    </div>
    <div class="flex flex-col justify-around flex-grow ml-5 text-white">
        <div class="text-xs whitespace-nowrap">{{title()}}</div>
        <div class="">{{text()}}</div>
    </div>
    <span class="mat-icon text-3xl text-white">chevron_right</span>
</div>