<div class="fixed w-full z-30 flex bg-primary p-2 items-center justify-center h-16 px-10 text-primary">
    <div [ngClass]="{'ml-60': isOpenNav()}"
        class="ml-12 transform ease-in-out duration-500 flex-none h-full flex items-center justify-center">
        <span class="md:hidden">SIGEV</span>
        <span class="hidden md:block">SISTEMA DE GESTION DE VENTAS</span>
    </div>
    
    <div class="grow h-full flex items-center justify-center"></div>

    <div class="flex space-x-3 items-center px-3" role="button">
        <span class="mat-icon text-2xl">account_circle</span>
        <div class="hidden md:block text-sm md:text-md">{{userName()}}</div>
        <span class="mat-icon">keyboard_arrow_down</span>
    </div>
</div>